1_NumPy.ipynb
2_Pandas.ipynb
3_Matplotlib.ipynb
all_sites_scores.csv
country_table.csv
dm_office_sales.csv
fandango_scrape.csv
movie_scores.csv
mpg.csv
myfirstplot.png
newfig.png
StudentsPerformance.csv
tips.csv
jose/
.vscode/